{% load static %}

<footer class="footer">
        <div class="container">
            <div class="footer__body">
                <div class="footer-col-01">
                    <div class="footer-col-01_01">
                        <a href="index.html">
                            <img src="{% static 'img/logo.png' %}" alt="">
                        </a>
                    </div>
                    <div class="footer-col-01_02">
                        <p>Байланыс</p>
                        <a href="mailto:info@akikat.kz">info@akikat.kz</a>
                        <a href="index.html">akikat.kz</a>
                    </div>
                </div>
                <div class="footer-col-02">
                    <div class="footer-col-02_01">
                        <p>Құран Кәрім</p>
                        <a href="https://akikat.kz/book/kuran/index.html#p=1">> Құран оқу</a>
                    </div>
                    <div class="footer-col-02_02">
                        <p>Иман негіздері</p>
                        <a href="article-iman.html"> > Аллаға иман</a>
                        <a href="article-mindet.html"> > Пайғамбарлық қызмет</a>
                        <a href="article-akiret.html"> > Ақырет ақиқаты </a>
                        <a href="article-kitaptar.html"> > Қасиетті кітаптар</a>
                        <a href="article-perishteler.html" > Періштелер</a>
                        <a href="article-tagdyr.html"> > Тағдыр мәселесі</a>
                    </div>
                </div>
                <div class="footer-col-03">
                    <div class="footer-col-03_01">
                        <p>Хадис</p>
                        <a href="https://akikat.kz/book/Hadister%20jinagy/#p=1">> Хадистер жинағы</a>
                    </div>
                    <div class="footer-col-03_02">
                        <p>Мақала</p>
                        <a href="quran-ilimi.html">> Құран ілімі</a>
                        <a href="sunnet-zholy.html">> Сүннет жолы</a>
                        <a href="aqida-gibadat.html">> Ақида және ғибадат</a>
                        <a href="korkem-minez.html"> > Көркем мінез</a>
                        <a href="adam-galam.html">> Адам жіне ғалам</a>
                        <a href="din-dastur.html"> > Дін мен дәстүр</a>
                        <a href="omirbayan.html">> Өмірбаян</a>
                    </div>
                </div>
                <div class="footer-col-04">
                    <div class="footer-col-04_01">
                        <p>Дұға</p>
                        <a href="http://akikat.kz/book/tangi/index.html#p=1">> Таңғы-кешкі дұғалар</a>
                        <a href="http://akikat.kz/book/dugalar/index.html">> Дұғалар жинағы</a>
                    </div>
                    <div class="footer-col-04_02">
                        <p>Ғылымхал</p>
                        <a href="http://akikat.kz/book/tazalyq/index.html#p=1">> Тазалық</a>
                        <a href="http://akikat.kz/book/namaz/index.html">  > Намаз</a>
                        <a href="http://akikat.kz/book/oraza/index.html">   > Ораза</a>
                        <a href="http://akikat.kz/book/zeket/index.html#p=1">     > Зекет</a>
                        <a href="http://akikat.kz/book/qajylik/index.html#p=1">    > Қажылық</a>
                        <a href="http://akikat.kz/book/qurban/index.html#p=1">   > Құрбандық</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>